**/.DS_Store

results/
gitignoreresults/
.vscode/
build/
bkp/

*.egg-info

*__pycache__/
cache-*.arrow

*.csv
*.jsonl
*.pkl
**/.DS_Store

*.env
examples/apps
examples/apps_bkp
examples/code_contests
examples/code_contests_bkp

logs/*
model/models--deepseek-ai--DeepSeek-R1-Distill-Qwen-1.5B