# [submodule "360-LLaMA-Factory"]
# 	path = 360-LLaMA-Factory
# 	url = git@github.com:Qihoo360/360-LLaMA-Factory.git
# [submodule "LLaMA-Factory"]
# 	path = LLaMA-Factory
# 	url = git@github.com:hiyouga/LLaMA-Factory.git

# git submodule add https://github.com/hiyouga/LLaMA-Factory.git LLaMA-Factory
[submodule "LLaMA-Factory"]
	path = LLaMA-Factory
	url = https://github.com/hiyouga/LLaMA-Factory.git
